/* ---------------------------- Breadcrumb --------------------------- */
ul.breadcrumb {
  position: relative;
  width: 100%;
  list-style: none;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.2s linear;
}

ul.breadcrumb li {
  position: relative;
  display: inline;
  font-size: 15px;
  font-weight: 600;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #98a0b0;
  content: "/\00a0";
}

ul.breadcrumb li a {
  position: relative;
  color: #98a0b0;
  text-decoration: none;
}

.dark-mode ul.breadcrumb li a,
.dark-mode ul.breadcrumb li + li:before {
  color: var(--white-color);
}

ul.breadcrumb li a:hover {
  color: var(--primary-color);
}

ul.breadcrumb li:last-child {
  color: #98a0b0;
}

.dark-mode ul.breadcrumb li:last-child,
.dark-mode ul.breadcrumb li a:hover {
  color: #38bdf8;
}

/* ---------------------------- Breadcrumb for "Product Detail Pages" --------------------------- */
.product__detail__pages ul.breadcrumb {
  margin-top: 75px;
}

/* ------------------------------- Responsive for Tablet Potrait(Landscape) -------------------------- */
/* @media screen and (min-device-width : 700px) and (max-device-width : 800px) {
    ul.breadcrumb {
        max-width: 100%;
        width: 100%;
        margin-top: 10%;
        transition: all .2s linear;
    }
} */
/* ------------------------------- Responsive for Tablet -------------------------- */
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
  ul.breadcrumb {
    max-width: 100%;
    width: 100%;
    margin-top: 10%;
    transition: all 0.2s linear;
  }
}

/* ------------------------------- Responsive for Tablet -------------------------- */
@media screen and (min-device-width: 481px) and (max-device-width: 650px) {
  ul.breadcrumb {
    margin-top: 12%;
  }
}

/* ------------------------------- Responsive for Phone -------------------------- */
@media screen and (max-width: 480px) {
  ul.breadcrumb {
    max-width: 480px;
    width: 100%;
    margin-top: 15.5%;
    transition: all 0.2s linear;
  }
}
