main {
  max-width: 1259.2px;
  width: 100%;
}

main .section-1 {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  /* align-items: center; */
}

.section-1 .details-contanier {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.section-1 .faculty-details {
  max-width: 18.425em;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.faculty-details header img {
  width: 4.375em;
  height: 2.5em;
}

.faculty-details header h2 {
  margin-top: 1em;
  font-size: 1.375em;
}

.faculty-details header h3 {
  font-size: 0.875em;
  font-weight: 300;
  color: #5c667a;
  margin-top: 0.875em;
}

.faculty-details ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin-top: 0.8em;
}

.faculty-details ul li {
  display: flex;
  align-items: center;
}

.faculty-details ul li img {
  width: 1.5em;
  height: 1.3em;
}

.faculty-details .details {
  margin: 0 0.25em 0 0.625em;
  font-size: 0.875em;
  font-weight: 600;
}

.faculty-details .about {
  font-size: 0.89em;
  font-weight: 500;
  color: #5c667a;
}

.faculty-details .contact-provider {
  margin-top: 2em;
}

.faculty-details .contact-provider button {
  background-color: #adff2f;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  color: black;
  border-radius: 0.2em;
  padding: 0.688em 1.875em;
  text-transform: capitalize;
}

.section-1 .main-info {
  width: 100%;
}

.main-info h1 {
  font-size: 2em;
  font-weight: 500;
}

.main-info article p {
  margin-top: 1.5em;
  color: #5c667a;
}

.main-info article hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid #d4d4d6;
}

.section-1 .media {
  max-width: 18.425em;
  width: 120%;
}

.media iframe {
  width: 18.375em;
  height: 11.9375em;
}

.media figure img {
  width: 100%;
}

main .section-2{
    margin: 3.125em 0;
}

.section-2 .facility-types {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* .facility-types */

.facility-types table {
  border-collapse: collapse;
  width: 100%;
}

.facility-types .certifications-container{
    width: 51.625em;
}

.facility-types .facility-type-container{
    width: 25.8125em;
}

/* .certifications-container table tr,
.certifications-container table th{
} */

.facility-types table{
    text-align: left;
}

.facility-types table tr{
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    line-height: 2em;
}

.facility-types table tr:nth-child(even) {
    background-color: #f3f7f9;
}

.facility-types table tr img {
    width: 1.9em;
    height: 1.9em;
}
.facility-types table tr td.correct-sign img {
    width: 1em;
    height: 1.4em;
}

.facility-types table tr td{
    width: 100%;
    display: flex;
    align-items: center;
    color: #98a0b0;
}

.facility-types table tr th{
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
}

.facility-types table tr td img{
    margin-right: 0.6em;
}

.facility-types table tr td.correct-sign img{
    margin-right: 1.2em;
}
.facility-types table tr td.correct-sign span{
    color: #5c667a;
}